doctype html
html
  head
    title Store
    link(rel="stylesheet", href="static/css/semantic.min.css")
  body
    .ui.secondary.vertical.pointing.menu
      a.item.active 首页
      a.item 服装
      a.item 鞋