doctype html
html
  head
    title Store
    link(rel="stylesheet", href="static/css/semantic.min.css")
    link(rel="stylesheet", href="static/css/global.css")
  body
    header
      .ui.stackable.menu(style="border-radius: 0")
        .item Training Store
        a.item 注册
        a.item 登录
    .search
      .ui.action.input
        input(type="text", placeholder="搜索")
        button.ui.button.red 搜索

    .container
      .ui.grid
        .four.wide.column
          .ui.secondary.vertical.pointing.menu.red
            a.item.active 首页
            a.item 服装
            a.item 鞋
            a.item 家用电器
            a.item 运动户外
            a.item 汽车用品
            a.item 营养保健
            a.item 母婴用品
        .eight.wide.column 2
        .four.wide.column 3

