extends layout

block container
  .ui.form.login
    h1 登录
    .field
      label 用户名
      input(type="text")
    .field
      label 密 码
      input(type="password")
    .field
      input(type="submit",value="登录").ui.submit.button.red