doctype html
html
  head
    title Store
    link(rel="stylesheet", href="dist/css/global.css")
  body#app
    header
      .ui.stackable.menu(style="border-radius: 0")
        a.item(href="/") Training Store
        a.item.aligned.right(href="/signup.html") 注册
        a.item.aligned.right(href="/login.html") 登录
        a.item.aligned.right(href="/cart.html",data-content="已添加到购物车")#cart 临时购物车
          .ui.label.cart-count(v-class="red: !isCartEmpty",v-text="cartCount")
    .container
      block container
    script(src="dist/js/global.js")
    
    
    footer Copyright 2015 Randy & Scarllet