.search{
  text-align: center;
  padding: 28px;
}

.search input[type="text"]{
  width: 400px;
}

.shape img{
  width: 100%;
  max-height: 200px;
}

.container{
  width: 80%;
  margin: 0 auto;
}

.menu .item{
  color: #000;
}

.tab-container{
  background-color: #fff;
  border-left: 1px solid #DDDEDE;
  border-right: 1px solid #DDDEDE;
  border-bottom: 1px solid #DDDEDE;
  padding: 18px;
  overflow: visible;
}

.pull-right{
  float: right;
}

footer{
  text-align: center;
  padding: 12px;
  font-size: .9em;
  color: #000;
}

.ui.form.login{
  padding-top: 48px;
  width: 30%;
  margin: 0 auto;
}